<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="false"
         forceCoversAnnotation="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         cacheResult="false"
         stopOnFailure="false">
    <testsuite name="rbwallet - Testsuite">
        <directory>tests/src</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="junit" target="report/coverage.xml"/>
        <log type="coverage-html" target="report/html/"/>
        <log type="coverage-clover" target="report/clover.xml"/>
        <log type="coverage-text" target="report/coverage.txt" />
    </logging>
</phpunit>
